# -----------------------------
# Python virtual environments
# -----------------------------
venv/
**/venv/
ml_worker/venv/

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Python compiled
*.so
*.egg
*.egg-info/

# -----------------------------
# Node
# -----------------------------
node_modules/

# -----------------------------
# Environment variables
# -----------------------------
.env
.env.*

# -----------------------------
# Build files
# -----------------------------
dist/
.vite/
build/

# -----------------------------
# Uploads / generated data
# -----------------------------
uploads/
*.json

# -----------------------------
# OS junk
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# ML worker junk
# -----------------------------
ml_worker/venv/
ml_worker/__pycache__/