name: Melopra Frontend CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Clean install
        run: |
          rm -rf node_modules
          npm install

      - name: Verify React Query is installed
        run: npm ls @tanstack/react-query

      - name: Build frontend
        run: npm run build
